httpx==0.27.0
pydantic>=2
# reasoner_pydantic==5.0.2
tqdm==4.66.2
# translator-testing-model==0.2.6
-e 'git+https://github.com/TranslatorSRI/TranslatorTestingModel.git@main#egg=translator-testing-model'

